@import 'helpers/helper';

.modal {
    display: none;
    opacity: 0;

    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;

    overflow: hidden;
    outline: 0px;
    background-color: rgba(0, 0, 0, 0.6);

    transition: opacity 0.15s linear;
}

.modal-dialog {
    width: 90%;
    max-width: calc(#{$breakpoint-sm} + 4em);
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;
}

.modal-header {
    margin-bottom: 15px;
}

.modal-footer {
    margin-top: 15px;
}