
.v1-icon-trash-empty:before { content: '\e800'; } /* '' */
.v1-icon-exchange:before { content: '\e801'; } /* '' */
.v1-icon-share:before { content: '\e802'; } /* '' */
.v1-icon-plus-1:before { content: '\e803'; } /* '' */
.v1-icon-down-thin:before { content: '\e804'; } /* '' */
.v1-icon-list:before { content: '\e805'; } /* '' */
.v1-icon-list-add:before { content: '\e806'; } /* '' */
.v1-icon-check-1:before { content: '\e807'; } /* '' */
.v1-icon-cancel:before { content: '\e808'; } /* '' */
.v1-icon-user:before { content: '\e809'; } /* '' */
.v1-icon-pencil-1:before { content: '\e80a'; } /* '' */
.v1-icon-arrows-cw:before { content: '\e80b'; } /* '' */
.v1-icon-up-thin:before { content: '\e80c'; } /* '' */
.v1-icon-buffer:before { content: '\e80d'; } /* '' */
.v1-icon-facebook:before { content: '\f09a'; } /* '' */
.v1-icon-menu:before { content: '\f0c9'; } /* '' */